<html action="" method="POST" xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <xi:include href="layout.html"/>

   <head/>

   <body>
     <h2> Editando série: ${serie.name}  </h2>
     <div id="wrapper">


       <table class="serie" cellspacing="0" py:if="serie.episodes">
         <tr>
           <th> Ep. </th>
           <th> Ação </th>
         </tr>
         <tr py:for="i, ep in enumerate(serie.episodes)" class="${i%2 and 'par' or 'impar'}">
           <td> ${ep.name} </td>
           <td> <a href="${SITE_ROOT}/episode/delete/${serie.name}/${ep.name}"> remover </a> </td>
         </tr>
       </table>
    <form action="" method="POST">
      Novo episódio: <input type="text" name="episode"/>
      <input type="submit" value="Salvar"/>
    </form>
    <form action="${SITE_ROOT}/episode/next/${serie.name}" method="POST">
      <input type="submit" value="Adicionar Próximo Episódio" name="submit"/>
    </form>
    <a href="${SITE_ROOT}/"> voltar </a>
  </div>
   </body>


</html>
