<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <head>
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/static/css/style.css"/>
  </head>


  <body>
    <h2> Séries de TV </h2>
    <ul py:if="data">
      <table id="series">        
      <tr py:for="group in data.group(data.series, 4)">
        <td py:for="serie in group" py:if="serie">
          <p> <a href="serie/edit/${serie.name}"> ${serie.name} </a> | <a href="serie/delete/${serie.name}"> remover </a> </p>
          <ol py:if="serie.episodes">
            <li py:for="episode in serie.episodes"> ${episode.name} | <a href="episode/delete/${serie.name}/${episode.name}"> delete </a> </li>
          </ol>
        </td>
      </tr>
      </table>
    </ul>

    <p> <a href="serie/new"> Nova Série </a> </p>

    <div id="footer">
      <div>
        <p>Powered by: <a href="http://pyroutes.com" target="_new">pyroutes</a> | <a href="http://genshi.edgewall.org" target="_new">Genshi</a></p>
      </div>
    </div>
  </body>
</html>
