<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <body>
    <ul py:if="data.series">
      <li py:for="serie in data.series">
      <a href="serie/edit/${serie}"> ${serie} </a> | <a href="serie/delete/${serie}"> remover </a>
        <ol py:if="serie in data.episodes">
          <li py:for="episode in data.episodes[serie]"> ${episode} </li>
        </ol>
      </li>
    </ul>

    <a href="serie/new"> Nova Série </a>

  </body>



</html>
