<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <head>
    <link rel="stylesheet" type="text/css" href="${SITE_ROOT}/static/css/style.css"/>
  </head>


  <body>
    <h2> Séries de TV </h2>

    <div id="wrapper">
          <table id="series" cellpadding="0" cellspacing="0">
            <tr>
              <th> Série </th>
              <th> Último Ep. </th>
              <th> Total Ep. </th>
            </tr>
            <tr py:for="i, serie in enumerate(data.series)" class="${i%2 and 'par' or 'impar'}">
              <td> <a href="series/edit/${serie.name}"> ${serie.name} </a></td>
              <td> <span py:if="len(serie.episodes) > 0"> ${serie.episodes[len(serie.episodes) - 1].name} </span></td>
              <td> ${len(serie.episodes)}</td>
            </tr>
          </table>
    </div>

    <div>
      <p> <a href="${SITE_ROOT}/series/new"> Nova Série </a> </p>
    </div>

    <div id="footer">
      <div>
        <p>Powered by: <a href="http://pyroutes.com" target="_new">pyroutes</a> | <a href="http://genshi.edgewall.org" target="_new">Genshi</a></p>
      </div>
    </div>
  </body>
</html>
